<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>rabbit-structure visualizer</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="/css/visualizer.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">rabbit-structure-visualizer</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
		  <ul class="dropdown-menu" id="services-dropdown">
			<li id="service-selector-1" class="service-dd-link" data-service-id="1"><a href="#">example-service-1</a></li>
			<li role="separator" class="divider" id="service-selectors-separator"></li>
			<li><a href="#" id="add-service-link">Add service</a></li>
		  </ul>
		</li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-md-8"><h1 id="current-service-title">...</h2></div>
  <div class="col-md-4">
	<div class="btn-group pull-right" role="group" aria-label="...">
	  <button type="button" class="btn btn-default" id="button-rename"><span class="glyphicon glyphicon-small glyphicon-pencil" aria-hidden="true"></span> Rename</button>
	  <button type="button" class="btn btn-default" id="button-delete" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
	</div>
  </div>
</div>

<textarea class="json-input" data-service-id="1" id="json-input-service-1">{
   "exchanges": [],
   "queues": []
}</textarea>

<div class="page-header">
  <h1>Result</h1>
</div>

<div id="chart"></div>



<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//cdn.jsdelivr.net/lodash/4.7.0/lodash.min.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/lib/sankey.js"></script>
<script src="/js/lib/d3.chart.min.js"></script>
<script src="/js/lib/d3.chart.sankey.min.js"></script>
<script src="/js/visualizer.js"></script>
<script src="/js/service-navigation.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>